In [11]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next
        
def reverse_linked_list(head, tail=None):
    while head:
        head.next, tail, head = tail, head, head.next
    return tail

def sort_linked_list(head):
    end_of_list = None
    start_list = head
    while end_of_list != start_list:
        cur_head = head
        while cur_head.next != end_of_list:
            next_head = cur_head.next
            if cur_head.value > next_head.value:
                cur_head.value, next_head.value = next_head.value, cur_head.value
            cur_head = cur_head.next
        end_of_list = cur_head

In [12]:
h, a, b, c, d = Node(4), Node(2), Node(-9), Node(19), Node(5)
h.next = a
a.next = b
b.next = c
c.next = d

print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)
print("---")
sort_linked_list(h)
print_linked_list(h)

[Node with value 4]
[Node with value 2]
[Node with value -9]
[Node with value 19]
[Node with value 5]
---
[Node with value 5]
[Node with value 19]
[Node with value -9]
[Node with value 2]
[Node with value 4]
---
[Node with value -9]
[Node with value 2]
[Node with value 4]
[Node with value 5]
[Node with value 19]

In [22]:
import pandas as pd
path = "data/tips.csv"
df = pd.read_csv(path)

le_masque = df["sex"] == "Male"
le_masque = le_masque & (df["day"] == "Fri")
le_masque &= df["smoker"] == "Yes"
df[le_masque].head()
df[le_masque]["total_bill"].mean()

20.4525

In [21]:
path = "data/iris.csv"
df = pd.read_csv(path)
df.groupby(['Name']).mean()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [32]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df = df.assign(density = (df.population*1000000)/df.square)
df.rename(columns = {'country' : 'Страна', 'square' : 'Площадь, км2'}, inplace = True)
df

       Страна  population  Площадь, км2    density
0  Kazakhstan       17.04       2724902   6.253436
1      Russia      143.50      17125191   8.379469
2     Belarus        9.50        207600  45.761079
3     Ukraine       45.50        603628  75.377550